html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: $tamanoFuente;
    line-height: 1.8;
    &.noscroll{
        overflow: hidden;
    }
}
p {
    color: $negro;
    font-size: 2rem;
}
.contenedor {
    width: 80%;
    // max-width: 140rem;
    margin: 0 auto;
    padding: 8.5rem 0 8.5rem 0;
}

a {
    font-family: $fuente_principal;
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: $fuente_principal;
    margin: $separacion / 2 0;
    font-weight: 300;
    text-align: center;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}