.articles{
    background-color: $grisMuyClaro;

    h2{
        color: $azulOscuro;
        font-size: 3.8rem;
        margin: 0 0 5.5rem 0;
        text-align: left;
    }

    .articles-grid{
        @include tablet{
            @include grid(2, 3rem);
        }

        @include laptop{
            @include grid(4, 3rem);
        }
    }
}

.articulo{
    background-color: $blanco;
    margin-bottom: 6rem;
    transition: transform 150ms ease-in-out;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);

    &:last-of-type{
        margin-bottom: 0;
    }

    &:hover{
        transform: scale(1.05);
    }
    
    @include tablet{
        margin-bottom: 0rem;
    }

    &__info{
        padding: 2.5rem;

        #autor{
            color: $grisOscuro;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        
        a{
            color: $azulOscuro;
            text-align: left;
            font-size: 3rem;
            line-height: 1.25;
            
            &:hover{
                color: $verdeLimon;
            }
        }
        
        p{
            margin-top: 1.5rem;
            line-height: 1.5;
            color: $grisOscuro;
        }
    }
}

#articulo1{
    background-image: url('../img/image-currency.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

#articulo2{
    background-image: url('../img/image-restaurant.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

#articulo3{
    background-image: url('../img/image-plane.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}

#articulo4{
    background-image: url('../img/image-confetti.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
}