.request-invite{
    background: linear-gradient(90deg, $verdeLimon 0%, $celeste 100%);
    border-radius: 25px;
    padding: 1rem 3.5rem;
    color: $blanco;
    display: none;
    font-size: 1.4rem;
    transition: filter 150ms ease-in-out;
    
    @include tablet{
        display: flex;
    } 

    &:hover{
        filter: opacity(45%);
    }
}