.main{
    background-color: $grisClaro;
    border: 1px solid red;

    @include laptop{
        margin-top: -2.75rem;
    }

    &__info{
        h2{
            text-align: center;
            color: $azulOscuro;
            font-size: 3.2rem;
            margin: 0 0 2.5rem 0;
            line-height: 1.15;
        
            @include tablet{
                text-align: left;
            }
        }
        
        p{
            color: $grisOscuro;
            max-width: 70rem;
            text-align: center;
            font-size: 1.9rem;
            line-height: 1.40;
            margin-bottom: 7.5rem;
            
            @include tablet{
                text-align: left;
            }
        }
    }

    &__grid{
        @include tablet{
            @include grid(2,2rem);
        }

        @include laptop{
            @include grid(4,2rem);
        }
    }
}

.main__servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
        display: block;
    }

    .servicio-img{
        display: flex;
        justify-content: left;
        height: 7.5rem;
        
        img{
            height: 100%;
            width: auto;
        }
    }
    
    h3{
        font-size: 2.5rem;
        color: $azulOscuro;
        text-align: left;
        margin: 1.5rem 0 1.5rem 0;
    }
    
    p{
        margin: 0;
    }
}