.main{
    background-color: $grisClaro;

    @include laptop{
        margin-top: -2.75rem;
    }

    &__info{
        h2{
            text-align: center;
            color: $azulOscuro;
            font-size: 3.8rem;
            margin: 0 0 2.5rem 0;
            line-height: 1.15;
        
            @include tablet{
                text-align: left;
            }
        }
        
        p{
            color: $grisOscuro;
            max-width: 70rem;
            text-align: center;
            font-size: 1.9rem;
            line-height: 1.40;
            margin-bottom: 5.5rem;
            
            @include tablet{
                text-align: left;
            }
        }
    }

    &__grid{
        @include tablet{
            @include grid(2,3rem);
        }

        @include laptop{
            @include grid(4,3rem);
        }
    }
}

.main__servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.2rem;
    transition: transform 150ms ease-in-out;

    &:last-of-type{
        margin-bottom: 0rem;
    }

    &:hover{
        transform: scale(1.05);
    }
    
    @include tablet{
        display: block;
        &:nth-child(3){
            margin-bottom: 0rem;
        }
    }

    @include laptop{
        margin-bottom: 0;
    }

    .servicio-img{
        display: flex;
        justify-content: left;
        height: 7.5rem;
        
        img{
            height: 100%;
            width: auto;
        }
    }
    
    h3{
        font-size: 2.5rem;
        color: $azulOscuro;
        text-align: left;
        margin: 1.5rem 0 1.5rem 0;
    }
    
    p{
        margin: 0;
    }
}