.portada{
    background-color: $blanco;
    height: 100%;

    @include tablet{
        margin-bottom: 0;
    }
}

.grid-portada{
    @include tablet{
        @include grid(2,2rem);
        align-items: center;
    }
}

.portada-info{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 8rem 0 8rem 0;

    @include tablet{
        display: block;
        width: 80%;
        padding: 0;
        margin: 0 0 0 auto;
    }

    h1{
        color: $azulOscuro;
        font-size: 4rem;
        line-height: 1.15;
        text-align: center;
        margin: 0 0 2.5rem 0;

        @include tablet{
            text-align: left;
            font-size: 5.5rem;
        }

        @include laptop{
            max-width: 50rem;
        }
    }
    
    p{
        font-size: 1.9rem;
        font-weight: $delgada;
        color: $grisOscuro;
        line-height: 1.40;
        margin: 0 0 3rem 0;
        text-align: center;

        @include tablet{
            text-align: left;
        }

        @include laptop{
            max-width: 45rem;
        }
    }

    a{
        display: inline-block;
        margin-bottom: 5rem;

        @include tablet{
            margin-bottom: 0;
        }
    }
}

.portada-imagen{
    grid-column: 2 / 3;
    position: relative;
    background-image: url('/../build/img/bg-intro-mobile.svg');
    background-size: 120%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    height: 40rem;

    @include tablet{
        background-image: url('/../build/img/bg-intro-desktop.svg');
        background-size: 260%;
        background-position: 5% 90%;
        background-repeat: no-repeat;
        min-height: 60rem;        
    }
    
    @include laptop{
        background-size: 190%;
        background-position: 5% 90%;
    }
    
    @include desktop{
        background-size: 120%;
        background-position: 5% 80%;
    }

    &::before{
        content: '';
        position: absolute;
        background-image: url('/../build/img/image-mockups.webp');
        background-size: 95%;
        background-position: 50% 85%;
        background-repeat: no-repeat;
        height: 100%;        
        width: 100%;
        
        @include tablet{
            height: 120%;        
            background-size: 120%;
            background-position: 0% 20%;
        }
        
        @include laptop{
            height: 120%;        
            background-size: 100%;
            background-position: 10% 90%;
        }
        
        @include desktop{
            height: 120%;        
            background-size: 90%;
            background-position: 10% 130%;
        }
    }
}